[Definition]
actionban   = OCID_WAF_BLOCKLIST='${OCID_WAF_BLOCKLIST}' OCI_USER='${OCI_USER}' OCI_FINGERPRINT='${OCI_FINGERPRINT}' OCI_TENANCY='${OCI_TENANCY}' OCI_REGION='${OCI_REGION}' OCI_KEY_CONTENT_BASE64='${OCI_KEY_CONTENT_BASE64}' /config/fail2ban/scripts/oci-waf-ban.py ban <ip>
actionunban = OCID_WAF_BLOCKLIST='${OCID_WAF_BLOCKLIST}' OCI_USER='${OCI_USER}' OCI_FINGERPRINT='${OCI_FINGERPRINT}' OCI_TENANCY='${OCI_TENANCY}' OCI_REGION='${OCI_REGION}' OCI_KEY_CONTENT_BASE64='${OCI_KEY_CONTENT_BASE64}' /config/fail2ban/scripts/oci-waf-ban.py unban <ip>

[Init]
name = grampsweb