name: Install Docker on E7270

on:
  push:
    branches:
      - main
      - e7270-server-add
    paths:
      - '.github/workflows/e7270-redeploy.yml'  
  workflow_dispatch:
jobs:
  install_docker_and_add_to_portainer:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        
      - name: Install WireGuard
        run: |
          sudo apt-get update
          sudo apt-get install -y wireguard
      - name: Write WireGuard config
        run: |
          echo "${{ secrets.WG_CONFIG }}" > wg0.conf
      - name: Bring up VPN
        run: |
          sudo wg-quick up ./wg0.conf
          sudo wg show

      - name: Override system DNS resolver
        run: |
          sudo rm /etc/resolv.conf
          echo "nameserver 1.1.1.1" | sudo tee /etc/resolv.conf

      - name: Add host key to known_hosts
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan -H ${{ vars.E7270_IP }} >> ~/.ssh/known_hosts
          
      - name: Configure passwordless sudo
        uses: appleboy/ssh-action@master
        with:
         host: ${{ vars.E7270_IP }}
         username: ${{ vars.E7270_USER }}
         password: ${{ secrets.E7270_PASSWORD }}
         script: |
           echo "${{ secrets.E7270_PASSWORD }}" | sudo -S bash -c "echo '${{ vars.E7270_USER }} ALL=(ALL) NOPASSWD:ALL' | tee /etc/sudoers.d/${{ vars.E7270_USER }}"
           echo "${{ secrets.E7270_PASSWORD }}" | sudo -S chmod 0440 /etc/sudoers.d/${{ vars.E7270_USER }}
         
      - name: Uninstall old Docker
        uses: appleboy/ssh-action@master
        with:
          host: ${{ vars.E7270_IP }}
          username: ${{ vars.E7270_USER }}
          password: ${{ secrets.E7270_PASSWORD }}
          script: |
            for pkg in docker.io docker-doc docker-compose podman-docker containerd runc; do
              sudo apt remove -y --allow-change-held-packages $pkg || true
            done
      - name: Add Docker repository
        uses: appleboy/ssh-action@master
        with:
          host: ${{ vars.E7270_IP }}
          username: ${{ vars.E7270_USER }}
          password: ${{ secrets.E7270_PASSWORD }}
          script: |
            sudo apt update
            sudo apt install ca-certificates curl
            sudo install -m 0755 -d /etc/apt/keyrings
            sudo curl -fsSL https://download.docker.com/linux/ubuntu/gpg -o /etc/apt/keyrings/docker.asc
            sudo chmod a+r /etc/apt/keyrings/docker.asc
            
            # Add the repository to Apt sources:
            sudo tee /etc/apt/sources.list.d/docker.sources << EOF
            Types: deb
            URIs: https://download.docker.com/linux/ubuntu
            Suites: $(. /etc/os-release && echo "${UBUNTU_CODENAME:-$VERSION_CODENAME}")
            Components: stable
            Signed-By: /etc/apt/keyrings/docker.asc
            EOF

      - name: Install Docker packages
        uses: appleboy/ssh-action@master
        with:
          host: ${{ vars.E7270_IP }}
          username: ${{ vars.E7270_USER }}
          password: ${{ secrets.E7270_PASSWORD }}
          script: |
            sudo apt-get install -y docker-ce docker-ce-cli containerd.io docker-buildx-plugin docker-compose-plugin

      - name: Configure Docker DNS
        uses: appleboy/ssh-action@master
        with:
          host: ${{ vars.E7270_IP }}
          username: ${{ vars.E7270_USER }}
          password: ${{ secrets.E7270_PASSWORD }}
          script: |
            sudo mkdir -p /etc/docker
            cat <<EOF | sudo tee /etc/docker/daemon.json
            {
              "dns": ["192.168.0.2", "192.168.0.3", "1.1.1.1", "1.0.0.1"]
            }
            EOF

            sudo systemctl daemon-reload
            sudo systemctl restart docker
            
      - name: Ensure Docker is running
        uses: appleboy/ssh-action@master
        with:
          host: ${{ vars.E7270_IP }}
          username: ${{ vars.E7270_USER }}
          password: ${{ secrets.E7270_PASSWORD }}
          script: |
            sudo systemctl enable --now docker
            sudo systemctl status docker --no-pager

      - name: Render Portainer agent compose
        run: |
          envsubst < portainer-agent-compose.yml > portainer-agent-compose-rendered.yml

      - name: Copy rendered compose
        uses: appleboy/scp-action@master
        with:
          host: ${{ vars.E7270_IP }}
          username: ${{ vars.E7270_USER }}
          password: ${{ secrets.E7270_PASSWORD }}
          source: portainer-agent-compose-rendered.yml
          target: ~/stacks/portainer/
          overwrite: true
          
      - name: Deploy via SSH
        id: deploy_portainer
        uses: appleboy/ssh-action@master
        with:
          host: ${{ vars.E7270_IP }}
          username: ${{ vars.E7270_USER }}
          password: ${{ secrets.E7270_PASSWORD }}
          script: |
            cd ~/stacks/portainer
            sudo docker compose -f portainer-agent-compose-rendered.yml up -d

      - name: Authenticate to main Portainer
        id: auth
        run: |
          RESPONSE=$(curl -X POST "${{ vars.RPI4_IP }}:83/api/auth" \
            -H "Content-Type: application/json" \
            -d '{
                 "Username":"${{ vars.APP_USER }}", 
                 "Password":"${{ secrets.APP_PASSWORD }}"
                }')
          TOKEN=$(echo "$RESPONSE" | jq -r '.jwt')
          echo "token=$TOKEN" >> $GITHUB_OUTPUT

      - name: Add E7270 Agent to Portainer
        run: |
          RESPONSE=$(curl -X POST "http://${{ vars.RPI4_IP }}:83/api/endpoints" \
            -H "Authorization: Bearer ${{ steps.auth.outputs.token }}" \
            -H "Content-Type: application/json" \
            -d '{
              "Name": "e7270-server",
              "EndpointCreationType": 2,
              "URL": "${{ vars.E7270_IP }}:9001"
            }')
            echo "$RESPONSE"

      - name: Bring down VPN
        run: |
          sudo wg-quick down ./wg0.conf
          sudo wg show   

