name: Install Docker on E7270

on:
  workflow_dispatch:
    inputs:
      host_machine:
        required: true
        type: string 
      domain:
        required: true
        type: string  
  workflow_call:
    inputs:
      host_machine:
        required: true
        type: string 
      domain:
        required: true
        type: string
  push:
    branches:
      - main
      - fix-e7270
    paths:
      - '.github/workflows/install-docker-e7270.yml'  

jobs:
  install_docker_and_add_to_portainer:
    runs-on: ubuntu-latest
    env:
      host_machine: ${{ inputs.host_machine || 'e7270-server' }}
      domain: ${{ inputs.domain || '14monarch.local' }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        
      - name: Install WireGuard
        run: |
          sudo apt-get install -y wireguard || (sudo apt-get update && sudo apt-get install -y wireguard)  

      - name: Write WireGuard config
        run: |
          echo "${{ secrets.WG_CONFIG }}" > wg0.conf
      - name: Bring up VPN
        run: |
          sudo wg-quick up ./wg0.conf
          sudo wg show

      - name: Override system DNS resolver
        run: |
          sudo rm /etc/resolv.conf
          echo "nameserver 1.1.1.1" | sudo tee /etc/resolv.conf

      - name: Add host key to known_hosts
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan -H ${{ vars.E7270_IP }} >> ~/.ssh/known_hosts
          
      - name: Configure passwordless sudo
        uses: appleboy/ssh-action@master
        with:
         host: ${{ vars.E7270_IP }}
         username: ${{ vars.E7270_USER }}
         password: ${{ secrets.E7270_PASSWORD }}
         script: |
           echo "${{ secrets.E7270_PASSWORD }}" | sudo -S bash -c "echo '${{ vars.E7270_USER }} ALL=(ALL) NOPASSWD:ALL' | tee /etc/sudoers.d/${{ vars.E7270_USER }}"
           echo "${{ secrets.E7270_PASSWORD }}" | sudo -S chmod 0440 /etc/sudoers.d/${{ vars.E7270_USER }}
         
      - name: Uninstall old Docker
        uses: appleboy/ssh-action@master
        with:
          host: ${{ vars.E7270_IP }}
          username: ${{ vars.E7270_USER }}
          password: ${{ secrets.E7270_PASSWORD }}
          script: |
            for pkg in docker.io docker-doc docker-compose podman-docker containerd runc; do
              sudo apt remove -y --allow-change-held-packages $pkg || true
            done

      - name: Add Docker repository
        uses: appleboy/ssh-action@master
        with:
          host: ${{ vars.E7270_IP }}
          username: ${{ vars.E7270_USER }}
          password: ${{ secrets.E7270_PASSWORD }}
          script: |
            sudo apt update
            sudo apt install ca-certificates curl
            sudo install -m 0755 -d /etc/apt/keyrings
            sudo curl -fsSL https://download.docker.com/linux/ubuntu/gpg -o /etc/apt/keyrings/docker.asc
            sudo chmod a+r /etc/apt/keyrings/docker.asc
            
            # Add the repository to Apt sources:
            sudo tee /etc/apt/sources.list.d/docker.sources << EOF
            Types: deb
            URIs: https://download.docker.com/linux/ubuntu
            Suites: $(. /etc/os-release && echo "${UBUNTU_CODENAME:-$VERSION_CODENAME}")
            Components: stable
            Signed-By: /etc/apt/keyrings/docker.asc
            EOF

      - name: Install Docker packages
        uses: appleboy/ssh-action@master
        with:
          host: ${{ vars.E7270_IP }}
          username: ${{ vars.E7270_USER }}
          password: ${{ secrets.E7270_PASSWORD }}
          script: |
            sudo apt-get install -y docker-ce docker-ce-cli containerd.io docker-buildx-plugin docker-compose-plugin

      - name: Configure Docker DNS
        uses: appleboy/ssh-action@master
        with:
          host: ${{ vars.E7270_IP }}
          username: ${{ vars.E7270_USER }}
          password: ${{ secrets.E7270_PASSWORD }}
          script: |
            sudo mkdir -p /etc/docker
            cat <<EOF | sudo tee /etc/docker/daemon.json
            {
              "dns": ["1.1.1.1", "1.0.0.1","192.168.0.2", "192.168.0.3"]
            }
            EOF

            sudo systemctl daemon-reload
            sudo systemctl restart docker
            
      - name: Ensure Docker is running
        uses: appleboy/ssh-action@master
        with:
          host: ${{ vars.E7270_IP }}
          username: ${{ vars.E7270_USER }}
          password: ${{ secrets.E7270_PASSWORD }}
          script: |
            sudo systemctl enable --now docker
            sudo systemctl status docker --no-pager

      - name: Render Portainer agent compose
        run: |
          envsubst < portainer-agent-compose.yml > portainer-agent-compose-rendered.yml

      - name: Copy rendered compose file from runner to E7270
        uses: appleboy/scp-action@master
        with:
          host: ${{ vars.E7270_IP }}
          username: ${{ vars.E7270_USER }}
          password: ${{ secrets.E7270_PASSWORD }}
          source: portainer-agent-compose-rendered.yml
          target: /home/${{ vars.E7270_USER }}/stacks/portainer/
          overwrite: true
          
      - name: Deploy Portainer agent on E7270
        id: deploy_portainer
        uses: appleboy/ssh-action@master
        with:
          host: ${{ vars.E7270_IP }}
          username: ${{ vars.E7270_USER }}
          password: ${{ secrets.E7270_PASSWORD }}    
          script: |
             set -e
             cd /home/${{ vars.E7270_USER }}/stacks/portainer

             # Check if container is already running
             RUNNING=$(sudo docker inspect -f '{{.State.Running}}' portainer_agent 2>/dev/null || echo "false")

             if [ "$RUNNING" = "true" ]; then
               echo "portainer_agent is already running. Skipping deploy."
               exit 0
             fi

             echo "Deploying Portainer agent..."
             sudo docker compose -f portainer-agent-compose-rendered.yml up -d

      - name: Authenticate to main Portainer
        id: auth
        run: |
          RESPONSE=$(curl -X POST "${{ vars.RPI4_IP }}:83/api/auth" \
            -H "Content-Type: application/json" \
            -d '{
                 "Username":"${{ vars.APP_USER }}", 
                 "Password":"${{ secrets.APP_PASSWORD }}"
                }')
          TOKEN=$(echo "$RESPONSE" | jq -r '.jwt')
          echo "token=$TOKEN" >> $GITHUB_OUTPUT

      - name: Add E7270 Agent to Portainer
        run: |
          RESPONSE=$(curl -X POST "http://${{ vars.RPI4_IP }}:83/api/endpoints" \
            -H "Authorization: Bearer ${{ steps.auth.outputs.token }}" \
            -H "Content-Type: application/json" \
            -d '{
              "Name": $host_machine,
              "EndpointCreationType": 2,
              "URL": tcp://"${{ vars.E7270_IP }}:9001",
              "TLS": true,
              "TLSSkipVerify": true,
              "TLSSkipClientVerify": true
            }')
            echo "$RESPONSE"

      - name: Add E7270 Agent to Portainer v2
        run: |
          curl -X POST "http://${{ vars.RPI4_IP }}:83/api/endpoints" \
            -H "Authorization: Bearer ${{ steps.auth.outputs.token }}" \
            -F "Name=e7270-server" \
            -F "EndpointCreationType=2" \
            -F "URL=tcp://${{ vars.E7270_IP }}:9001" \
            -F "TLS=true" \
            -F "TLSSkipVerify=true" \
            -F "TLSSkipClientVerify=true"

      - name: Bring down VPN
        run: |
          sudo wg-quick down ./wg0.conf
          sudo wg show   

  deploy_nextcloud:
    uses: ./.github/workflows/nextcloud-redeploy.yml
    needs: install_docker_and_add_to_portainer
    secrets: inherit
    with:
      host_machine: ${{ inputs.host_machine || 'e7270-server' }}
      domain: ${{ inputs.domain || '14monarch.local' }}
