name: Redeploy Nextloud via Portainer GitOps
#ToDo:
# create the mount points and automount
# then rescan files if the database isn't intact.

on:
  push:
    branches:
      - main
      - fix-e7270 
    paths:
      - 'nextcloud-compose.yml'
      - '.github/workflows/nextcloud-redeploy.yml'
  workflow_call:
    inputs:
      host_machine:
        required: true
        type: string 
      subdomain:
        required: true
        type: string
  workflow_dispatch:
    inputs:
      host_machine:
        required: true
        type: string 
      subdomain:
        required: true
        type: string   
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Install WireGuard
        run: |
          sudo apt-get install -y wireguard || (sudo apt-get update && sudo apt-get install -y wireguard)  

      - name: Write WireGuard config
        run: |
          echo "${{ secrets.WG_CONFIG }}" > wg0.conf

      - name: Bring up VPN
        run: |
          sudo wg-quick up ./wg0.conf
          sudo wg show
          
      - name: Override system DNS resolver
        run: |
          sudo rm /etc/resolv.conf
          echo "nameserver 1.1.1.1" | sudo tee /etc/resolv.conf
            
      - name: Authenticate to Portainer
        id: auth
        run: |
          RESPONSE=$(curl -X POST "${{ vars.RPI4_IP }}:83/api/auth" \
            -H "Content-Type: application/json" \
            -d '{
                 "Username":"${{ vars.APP_USER }}", 
                 "Password":"${{ secrets.APP_PASSWORD }}"
                }')
          TOKEN=$(echo "$RESPONSE" | jq -r '.jwt')
          echo "token=$TOKEN" >> $GITHUB_OUTPUT

      - name: Get Portainer EndpointId
        id: endpoint
        env:
          HOST_MACHINE: ${{ inputs.host_machine || 'e7270-server' }}
        run: |
          echo "Looking for endpoint with name: $HOST_MACHINE"
          RESPONSE=$(curl -s -X GET "http://${{ vars.RPI4_IP }}:83/api/endpoints" \
            -H "Authorization: Bearer ${{ steps.auth.outputs.token }}")
          ENDPOINT_ID=$(echo "$RESPONSE" | jq -r '.[] | select(.Name=="$HOST_MACHINE}") | .Id')
          echo "endpoint_id=$ENDPOINT_ID" >> $GITHUB_OUTPUT

      - name: Get Stack ID (if exists)
        id: get_stack_id
        run: |
          STACKS=$(curl --fail -s -X GET "http://${{ vars.RPI4_IP }}:83/api/stacks" \
          -H "Authorization: Bearer ${{ steps.auth.outputs.token }}" || echo "[]")

          # Filter by both Name AND EndpointId
          STACK_ID=$(echo "$STACKS" | jq -r '.[] | select(.Name=="nextcloud" and .EndpointId==${{ steps.endpoint.outputs.endpoint_id }}) | .Id')
          
          if [ -z "$STACK_ID" ] || [ "$STACK_ID" = "null" ]; then
            echo "Stack not found for this endpoint."
            echo "stack_id=0" >> $GITHUB_OUTPUT
          else
            echo "Stack found with ID: $STACK_ID" 
            echo "stack_id=$STACK_ID" >> $GITHUB_OUTPUT
          fi
          
      - name: Generate UUID
        if: ${{ steps.get_stack_id.outputs.stack_id == '0' }}
        id: uuid
        run: |
          echo "::set-output name=uuid::$(uuidgen)"

      - name: Create Stack from GitHub
        if: ${{ steps.get_stack_id.outputs.stack_id == '0' }}
        run: |
          echo "Creating stack from GitHub..."
          RESPONSE=$(curl -v -s -S -X POST "http://${{ vars.RPI4_IP }}:83/api/stacks/create/standalone/repository?endpointId=${{ steps.endpoint.outputs.endpoint_id }}" \
          -H "Authorization: Bearer ${{ steps.auth.outputs.token }}" \
          -H "Content-Type: application/json" \
          -d '{
               "Name": "nextcloud",
               "RepositoryURL": "https://github.com/liamj-f/homelab-setup",
               "RepositoryReferenceName": "${{ github.ref }}",
               "ComposeFile": "nextcloud-compose.yml",
               "RepositoryAuthentication": false,
               "AutoUpdate": {
                              "forcePullImage": true,
                              "forceUpdate": true,
                              "Webhook": "${{ steps.uuid.outputs.uuid }}"
                             },
               "Env": [
                       {
                       "name":"POSTGRES_HOST",
                       "value":"mysql"
                       },
                       {
                       "name":"POSTGRES_DATABASE",
                       "value":"nextcloud"
                       },
                       {
                       "name":"POSTGRES_USER",
                       "value":"nextcloud_app"
                       },
                       {
                        "name":"POSTGRES_PASSWORD",
                        "value":"${{ secrets.NEXTCLOUD_APP_PASSWORD }}"
                        },
                       {
                        "name":"NEXTCLOUD_ADMIN_USER",
                        "value":"${{ vars.APP_USER }}"
                       },
                       {
                        "name":"NEXTCLOUD_ADMIN_PASSWORD",
                        "value":"${{ secrets.APP_PASSWORD }}"
                       }
                       ],
               "Prune": true,
               "StackFileVersion": "3"
              }')

            echo "API Response: $RESPONSE"
            echo "stack_response=$RESPONSE" >> $GITHUB_OUTPUT

      - name: Update Stack
        if: ${{ steps.get_stack_id.outputs.stack_id != '0' }}
        run: |
          curl -s -X PUT "http://${{ vars.RPI4_IP }}:83/api/stacks/${{ steps.get_stack_id.outputs.stack_id }}/git/redeploy?endpointId=${{ steps.endpoint.outputs.endpoint_id }}" \
          -H "Authorization: Bearer ${{ steps.auth.outputs.token }}" \
          -H "Content-Type: application/json" \
          -d '{
               "PullImage": true,
               "RepositoryReferenceName": "${{ github.ref }}",
               "repositoryAuthentication": false,
               "Env": [
                       {
                       "name":"POSTGRES_HOST",
                       "value":"mysql"
                       },
                       {
                       "name":"POSTGRES_DATABASE",
                       "value":"nextcloud"
                       },
                       {
                       "name":"POSTGRES_USER",
                       "value":"nextcloud_app"
                       },
                       {
                        "name":"POSTGRES_PASSWORD",
                        "value":"${{ secrets.NEXTCLOUD_APP_PASSWORD }}"
                        },
                       {
                        "name":"NEXTCLOUD_ADMIN_USER",
                        "value":"${{ vars.APP_USER }}"
                       },
                       {
                        "name":"NEXTCLOUD_ADMIN_PASSWORD",
                        "value":"${{ secrets.APP_PASSWORD }}"
                       }
                       ],
               "Prune": true
              }'          
    
#      - name: Trigger stack redeploy via webhook
#        run: |
#          echo "Triggering stack redeploy via webhook..."
#          RESPONSE=$(curl -s -w "HTTP %{http_code}" -X POST "http://${{ vars.RPI4_IP }}:83/api/stacks/webhooks/e56041a2-75f6-4a10-85dc-c69424de631e")
#          echo "$RESPONSE"

      - name: Rescan files in external drive
        uses: appleboy/ssh-action@master
        with:
          host: ${{ vars.E7270_IP }}
          username: ${{ vars.E7270_USER }}
          password: ${{ secrets.E7270_PASSWORD }}
          script: |
            docker exec -u www-data nextcloud php occ files:scan --all
      - name: Bring down VPN
        run: |
          sudo wg-quick down ./wg0.conf
          sudo wg show   
