name: Redeploy Nginx via Portainer GitOps
on:
  push:
    branches:
      - main
      - '**'
    paths:
      - 'nginx-compose.yml'
      - '.github/workflows/nginx-redeploy.yml'
  workflow_dispatch:
    inputs:
      host_machine:
        required: true
        type: string 
      domain:
        required: true
        type: string
  workflow_call:
    inputs:
      host_machine:
        required: true
        type: string 
      domain:
        required: true
        type: string
jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      host_machine: ${{ inputs.host_machine || 'rpi4-server' }}
      domain: ${{ inputs.domain || '14monarch.local' }}
      subdomain: $(echo "${{ inputs.domain || '14monarch.local' }}" | cut -d'.' -f1)

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Install WireGuard
        run: |
          sudo apt-get install -y wireguard || (sudo apt-get update && sudo apt-get install -y wireguard)  

      - name: Write WireGuard config
        run: |
          echo "${{ secrets.WG_CONFIG }}" > wg0.conf

      - name: Bring up VPN
        run: |
          sudo wg-quick up ./wg0.conf
          sudo wg show
          
      - name: Override system DNS resolver
        run: |
          sudo rm /etc/resolv.conf
          echo "nameserver 1.1.1.1" | sudo tee /etc/resolv.conf
          
      - name: Authenticate to Portainer
        id: auth
        run: |
          RESPONSE=$(curl -X POST "http://${{ vars.RPI4_IP }}:83/api/auth" \
            -H "Content-Type: application/json" \
            -d '{
                 "Username":"${{ vars.APP_USER }}",
                 "Password":"${{ secrets.APP_PASSWORD }}"
                 }')
          TOKEN=$(echo "$RESPONSE" | jq -r '.jwt')
          echo "token=$TOKEN" >> $GITHUB_OUTPUT

      - name: Get Portainer EndpointId
        id: endpoint
        run: |
          RESPONSE=$(curl -s -X GET "http://${{ vars.RPI4_IP }}:83/api/endpoints" \
            -H "Authorization: Bearer ${{ steps.auth.outputs.token }}")
          ENDPOINT_ID=$(echo "$RESPONSE" | jq -r --arg host_machine "$host_machine" '.[] | select(.Name==$host_machine) | .Id')
          echo "endpoint_id=$ENDPOINT_ID" >> $GITHUB_OUTPUT

      - name: Get Stack ID (if exists)
        id: get_stack_id
        run: |
          STACKS=$(curl --fail -s -X GET "http://${{ vars.RPI4_IP }}:83/api/stacks" \
          -H "Authorization: Bearer ${{ steps.auth.outputs.token }}" || echo "[]")

          # Filter by both Name AND EndpointId
          STACK_ID=$(echo "$STACKS" | jq -r '.[] | select(.Name=="nginx" and .EndpointId==${{ steps.endpoint.outputs.endpoint_id }}) | .Id')
          
          if [ -z "$STACK_ID" ] || [ "$STACK_ID" = "null" ]; then
            echo "Stack not found for this endpoint."
            echo "stack_id=0" >> $GITHUB_OUTPUT
          else
            echo "Stack found with ID: $STACK_ID"
            echo "stack_id=$STACK_ID" >> $GITHUB_OUTPUT
          fi

      - name: Generate UUID
        if: ${{ steps.get_stack_id.outputs.stack_id == '0' }}
        id: uuid
        run: |
          echo "::set-output name=uuid::$(uuidgen)"

      - name: Create Stack from GitHub
        if: ${{ steps.get_stack_id.outputs.stack_id == '0' }}
        run: |
          echo "Creating stack from GitHub..."
          RESPONSE=$(curl -v -s -S -X POST "http://${{ vars.RPI4_IP }}:83/api/stacks/create/standalone/repository?endpointId=${{ steps.endpoint.outputs.endpoint_id }}" \
          -H "Authorization: Bearer ${{ steps.auth.outputs.token }}" \
          -H "Content-Type: application/json" \
          -d '{
               "Name": "nginx",
               "RepositoryURL": "https://github.com/liamj-f/homelab-setup",
               "RepositoryReferenceName": "${{ github.ref }}",
               "ComposeFile": "nginx-compose.yml",
               "RepositoryAuthentication": false,
               "AutoUpdate": {
                              "forcePullImage": true,
                              "forceUpdate": true,
                              "Webhook": "${{ steps.uuid.outputs.uuid }}"                           
                             },
                              "Env": [
                                    {
                                    "name":"INITIAL_ADMIN_EMAIL",
                                    "value":"${{ vars.NGINX_EMAIL }}"
                                    },
                                    {
                                    "name":"INITIAL_ADMIN_PASSWORD",
                                    "value":"${{ secrets.APP_PASSWORD }}"
                                    }
                                   ],
               "Prune": true,
               "StackFileVersion": "3"
              }'
                    )

            echo "API Response: $RESPONSE"
            echo "stack_response=$RESPONSE" >> $GITHUB_OUTPUT

      - name: Update Stack
        if: ${{ steps.get_stack_id.outputs.stack_id != '0' }}
        run: |
          curl -s -X PUT "http://${{ vars.RPI4_IP }}:83/api/stacks/${{ steps.get_stack_id.outputs.stack_id }}/git/redeploy?endpointId=${{ steps.endpoint.outputs.endpoint_id }}" \
          -H "Authorization: Bearer ${{ steps.auth.outputs.token }}" \
          -H "Content-Type: application/json" \
          -d '{
               "PullImage": true,
               "RepositoryReferenceName": "${{ github.ref }}",
               "repositoryAuthentication": false,
               "Env": [
                       {
                       "name":"INITIAL_ADMIN_EMAIL",
                       "value":"${{ vars.NGINX_EMAIL }}"
                       },
                       {
                       "name":"INITIAL_ADMIN_PASSWORD",
                       "value":"${{ secrets.APP_PASSWORD }}"
                       }
                       ],
               "Prune": true
              }'               

      - name: Extract Subdomain for duckdns certificate
        id: subdomain
        run: |
          subdomain=$(echo "${domain}" | cut -d'.' -f1)          
          echo "DEBUG: extracted value is [$subdomain]"
          echo "subdomain=$subdomain" >> $GITHUB_ENV

      - name: Authenticate as nginx user
        id: token
        run: |
          sleep 20
          RESPONSE=$(curl -s -X POST "http://${{ vars.RPI4_IP }}:81/api/tokens" \
            -H "Content-Type: application/json" \
            -d '{
                 "identity":"${{ vars.NGINX_EMAIL }}",
                 "secret":"${{ secrets.APP_PASSWORD }}"
                 }')
        
          TOKEN=$(echo "$RESPONSE" | jq -r '.token // empty')
          echo "token=$TOKEN" >> $GITHUB_OUTPUT
      
      - name: Create Certificate for duckdns domain
        id: certificate
        run: |
          PAYLOAD=$(cat <<EOF
          {
            "provider": "letsencrypt",
            "domain_names": ["*.$subdomain.duckdns.org", "$subdomain.duckdns.org"],
            "meta": {
              "dns_challenge": true,
              "dns_provider": "duckdns",
              "dns_provider_credentials": "dns_duckdns_token=${{ secrets.DUCKDNS_TOKEN }}",
              "propagation_seconds": 120
            }
          }
          EOF
          )   
            
          RESPONSE=$(curl -s -X POST "http://${{ vars.RPI4_IP }}:81/api/nginx/certificates" \
            -H "Content-Type: application/json" \
            -H "Authorization: Bearer ${{ steps.token.outputs.token }}" \
            -d "$PAYLOAD")
            
          echo "Certificate API Response: $RESPONSE"
            
          # Check for error before proceeding
          if echo "$RESPONSE" | grep -q "error"; then
            echo "Failed to create certificate"
            exit 1
          fi
            
          CERT_ID=$(echo "$RESPONSE" | jq -r '.id // empty')
          echo "cert_id=$CERT_ID" >> $GITHUB_ENV
          
      - name: Create Proxy Hosts
        run: |
          declare -A hosts
          hosts["tplink.$domain"]="192.168.0.1:80"
          hosts["nginx.$domain"]="${{ vars.RPI4_IP }}:81"
          hosts["pihole.$domain"]="${{ vars.RPI4_IP }}:82"
          hosts["portainer.$domain"]="${{ vars.RPI4_IP }}:83"
          hosts["nextcloud.$domain"]="${{ vars.E7270_IP }}:85"
          hosts["pih0le.$domain"]="${{ vars.RPI0_IP }}:82"
          hosts["adminer.$domain"]="${{ vars.E7270_IP }}:86"
          
          for domain in "${!hosts[@]}"; do
            host="${hosts[$domain]}"
            host_ip="${host%%:*}"
            host_port="${host##*:}"

            curl -s -X POST "http://${{ vars.RPI4_IP }}:81/api/nginx/proxy-hosts" \
              -H "Authorization: Bearer ${{ steps.token.outputs.token }}" \
              -H "Content-Type: application/json" \
              -d '{
                "domain_names": ["'"$domain"'"],
                "forward_host": "'"$host_ip"'",
                "forward_port": '"$host_port"',
                "forward_scheme": "http",
                "ssl_forced": false,
                "enabled": true,
              }' | jq
          done

      - name: Create DuckDNS Proxy Hosts
        run: |
          declare -A hosts
          hosts["tplink.$subdomain.duckdns.org"]="192.168.0.1:80"
          hosts["nginx.$subdomain.duckdns.org"]="${{ vars.RPI4_IP }}:81"
          hosts["pihole.$subdomain.duckdns.org"]="${{ vars.RPI4_IP }}:82"
          hosts["portainer.$subdomain.duckdns.org"]="${{ vars.RPI4_IP }}:83"
          hosts["nextcloud.$subdomain.duckdns.org"]="${{ vars.E7270_IP }}:85"
          hosts["pih0le.$subdomain.duckdns.org"]="${{ vars.RPI0_IP }}:82"
          hosts["adminer.$subdomain.duckdns.org"]="${{ vars.E7270_IP }}:86"
          
          for domain in "${!hosts[@]}"; do
            host="${hosts[$domain]}"
            host_ip="${host%%:*}"
            host_port="${host##*:}"
            BODY=$(jq -n \
                          --arg domain "$domain" \
                          --arg host_ip "$host_ip" \
                          --argjson host_port "$host_port" \
                          --argjson cert_id "$cert_id" \
                          '{
                            domain_names: [$domain],
                            forward_host: $host_ip,
                            forward_port: $host_port,
                            forward_scheme: "http",
                            ssl_forced: true,
                            enabled: true,
                            certificate_id: $cert_id,
                            block_exploits: true,
                            meta: { letsencrypt_agree: false, dns_challenge: false }
                          }')

            echo "Attempting to create Proxy Host: $domain"
            
            RESPONSE=$(curl -s -X POST "http://${{ vars.RPI4_IP }}:81/api/nginx/proxy-hosts" \
              -H "Authorization: Bearer ${{ steps.token.outputs.token }}" \
              -H "Content-Type: application/json" \
              -d "$DATA_JSON")

            # 2. Check if creation failed because the domain exists
            if echo "$RESPONSE" | grep -qE "already in use|400"; then
              echo "Domain $domain already exists. Fetching ID to perform UPDATE (PUT) instead..."
              
              # Find the ID of the existing host by filtering the list
              EXISTING_ID=$(curl -s -X GET "http://${{ vars.RPI4_IP }}:81/api/nginx/proxy-hosts" \
                -H "Authorization: Bearer ${{ steps.token.outputs.token }}" | \
                jq -r ".[] | select(.domain_names[] == \"$domain\") | .id")

              if [ "$EXISTING_ID" != "null" ] && [ -n "$EXISTING_ID" ]; then
                echo "Updating existing host ID: $EXISTING_ID"
                curl -s -X PUT "http://${{ vars.RPI4_IP }}:81/api/nginx/proxy-hosts/$EXISTING_ID" \
                  -H "Authorization: Bearer ${{ steps.token.outputs.token }}" \
                  -H "Content-Type: application/json" \
                  -d "$DATA_JSON" | jq
              else
                echo "Error: Could not find the ID for $domain even though it's 'in use'."
              fi
            else
              echo "Successfully created $domain"
              echo "$RESPONSE" | jq
            fi
          done

      - name: Bring down VPN
        run: |
          sudo wg-quick down ./wg0.conf
          sudo wg show
